@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face{
  font-family: "Satoshi";
  src:local("Satoshi-Variable"),
  url('./assets/fonts/Satoshi-Variable.ttf') 
}

body{
  font-family: "Satoshi";
  font-weight: 500;
  letter-spacing: -4%;
}
